@import 'https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:400,700';

body {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    overflow-x: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: montserrat, sans-serif;
    font-weight: 700
}

h3 {
    font-size: 1.6em;
    line-height: 1.4em
}

p {
    font-size: 14px;
    font-family: roboto, sans-serif;
    margin: 0;
    line-height: 24px;
    font-weight: 400
}

a {
    color: #2d2d2d;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}

a:hover,
a:focus {
    color: #4caf50
}

img {
    max-width: 100%
}

ul {
    margin: 0;
    padding: 0
}

ul li {
    list-style: none;
    margin: 0
}

ol {
    list-style: none
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none
}

.center {
    text-align: center
}

.btn i {
    margin-right: 5px
}

::selection {
    background: #4caf50;
    color: #fff
}

::-moz-selection {
    background: #4caf50;
    color: #fff
}

.block-title {
    margin: 0 0 20px
}

h3.block-title {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 5px
}

.btn {
    padding: 12px 30px;
    color: #fff;
    border-radius: 2px;
    position: relative;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1), 0 2px 5px 0 rgba(0, 0, 0, .15);
    border: none;
    text-transform: uppercase
}

.btn:focus,
.btn:hover {
    color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .15), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.btn-common {
    background: #4caf50;
    position: relative
}

.btn-common::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, .1);
    transition: all .3s
}

.btn-common:hover::before {
    opacity: 0;
    transform: scale(.5, .5)
}

.btn-danger:hover {
    background: #ed6763
}

.btn-border {
    background: #4285f4;
    padding: 16px 36px !important;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .18), 0 2px 5px 0 rgba(0, 0, 0, .15)
}

.btn-border:hover {
    opacity: .8;
    color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.btn-search {
    padding: 11px
}

.btn-sm {
    font-size: 13px !important;
    padding: 10px 18px !important;
    margin-bottom: 5px;
    border: none
}

.btn-xs {
    border-radius: 0;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px
}

.btn-rm {
    padding: 10px 21px;
    margin-top: 30px;
    text-transform: capitalize
}

.btn-post {
    padding: 10px 16px
}

.wrapper {
    padding: 60px 0
}

.section {
    padding: 60px 0
}

.section-title {
    font-size: 24px;
    letter-spacing: .1em;
    padding: 0 0 20px;
    text-transform: uppercase;
    font-weight: 700;


}
h1.section-title{
    padding-bottom: 10px; padding-top: 10px;font-size:34px!important;
}
.small-title {
    font-size: 24px;
    padding: 15px 0
}

.title-2 {
    border-bottom: 1px solid #e6e6e6;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px 0;
    text-transform: uppercase
}

#content {
    padding: 60px 0
}

.page-header {
    padding: 60px 0;
    margin: 0;
    border-top: 1px solid #eee;
    position: relative
}

.page-header:before {
    content: '';
    background: rgba(0, 0, 0, .7);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0
}

.page-header .page-title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center
}

.breadcrumb-wrapper {
    text-align: center
}

.breadcrumb-wrapper a {
    color: #fff
}

.breadcrumb-wrapper span {
    color: #fff
}

.breadcrumb-wrapper .current {
    color: #4caf50
}

select.form-control {
    border: 0;
    outline: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
    border-radius: 0
}

select.form-control:focus {
    border: 0;
    outline: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075)
}

#loader {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999
}

.sk-folding-cube {
    margin: 0 auto;
    top: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4caf50;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg)
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg)
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg)
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}

@-webkit-keyframes sk-foldCubeAngle {

    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0
    }

    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1
    }

    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0
    }
}

@keyframes sk-foldCubeAngle {

    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0
    }

    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1
    }

    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}

.top-bar {
    background: #101215;
    border-bottom: 1px solid rgba(255, 255, 255, .06)
}

.top-bar .contact-details li {
    display: inline-block;
    padding: 6px 0
}

.top-bar .contact-details li a {
    font-size: 12px;
    display: block;
    margin-right: 15px;
    color: #fff;
    line-height: 32px
}

.top-bar .contact-details li a i {
    padding-right: 5px;
    vertical-align: middle
}

.account-setting {
    position: relative;
    float: right;
    padding: 4px;
    margin-right: 5px;
    color: #fff
}

.account-setting a {
    display: inline-block;
    padding: 6px;
    outline: none;
    font-size: 12px;
    text-decoration: none;
    color: #fff
}

.account-setting a i {
    margin-right: 5px
}

.account-setting a:hover {
    color: #4caf50
}

.top-bar-bottom {
    background: #f5f5f5;
    padding: 15px
}

.top-bar-bottom .header-logo {
    float: left
}

.top-bar-bottom .name-title {
    float: left;
    padding: 5px 20px;
    margin-top: 10px;
    border-left: 1px dotted #aaa
}

.top-bar-bottom .contact .call {
    float: left;
    padding: 12px 30px;
    line-height: 18px
}

.top-bar-bottom .contact .call h3 {
    font-size: 22px;
    font-weight: 700
}

.top-bar-bottom .contact .call h3 i {
    margin-right: 10px
}

.top-bar-bottom .contact .call p {
    margin-left: 38px;
    font-size: 12px;
    line-height: 18px
}

ul.social-list {
    float: right
}

ul.social-list li {
    float: left;
    padding: 6px 0
}

ul.social-list li a {
    display: inline-block;
    color: #fff
}

ul.social-list li a i {
    font-size: 16px;
    display: block;
    width: 34px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

.social-list li .fa-facebook:hover {
    color: #507cbe
}

.social-list li .fa-twitter:hover {
    color: #63cdf1
}

.social-list li .fa-google-plus:hover {
    color: #f16261
}

.social-list li .fa-linkedin:hover {
    color: #90cadd
}

.navbar {
    margin-bottom: 0;
    background: #fff;
    border: none;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0
}

.navbar-brand {
    position: relative;
    padding: 22px 0;
    margin: 0 !important;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.navbar-default .navbar-nav {
    margin-right: 10px !important;
    position: relative;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}

.navbar-default .navbar-nav>li {
    margin-left: 6px;
    padding-top: 20px;
    padding-bottom: 20px
}

.navbar-default .navbar-nav>li>a {
    color: #666;
    display: block;
    font-size: 14px;
    border-radius: 0;
    border: 1px solid transparent;
    padding: 10px 20px;
    text-transform: uppercase;
    overflow: hidden;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    font-weight: 400
}

.navbar-default .navbar-nav>li:hover>a,
.navbar-default .navbar-nav>li>a.active {
    color: #fff;
    background: #4caf50;
    border-radius: 2px
}

.navbar-default .navbar-nav>li>a i {
    margin: 0 -2px 0 -5px
}

.navbar-default .navbar-nav .dropdown {
    position: absolute;
    left: 0;
    border-top: 1px solid #4caf50;
    top: 100%;
    width: 234px;
    background-color: #fff;
    visibility: hidden;
    z-index: 999;
    opacity: 0;
    border-radius: 2px;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1)
}

.navbar-default .navbar-nav>li.drop:hover .dropdown {
    visibility: visible;
    opacity: 1
}

.dropdown li,
.sup-dropdown li {
    position: relative
}

.dropdown li a {
    display: block;
    color: #666;
    font-size: 13px;
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    font-family: roboto, sans-serif;
    padding: 10px 18px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.dropdown li:last-child a {
    border: none
}

.dropdown li a i {
    margin: 0 0 0 -4px
}

.dropdown>li:hover>a {
    color: #fff;
    background-color: #4caf50
}

.dropdown li a.active {
    color: #fff;
    background-color: #4caf50
}

.open-search {
    position: relative;
    float: right;
    top: 24px;
    right: -15px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.show-search {
    position: relative;
    display: block;
    cursor: pointer;
    float: right
}

.show-search i {
    font-size: 1.2em !important;
    display: block;
    color: #666;
    width: 36px;
    height: 36px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    line-height: 36px;
    text-align: center;
    background-color: #f2f2f2;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

.show-search:hover i {
    color: #666
}

.full-search {
    width: 100%;
    background: #444;
    z-index: 9999;
    position: absolute;
    top: 0;
    display: none;
    left: 0;
    height: 77px;
    margin-bottom: -1px
}

.full-search .form-control:focus {
    border: none
}

.full-search .close-search {
    cursor: pointer;
    color: #fff;
    top: 24px
}

.full-search input[type=text] {
    outline: none;
    font-size: 22px;
    display: inline-block;
    color: #fff;
    width: 100%;
    margin-left: -45px;
    font-weight: 400;
    border: none;
    background: #444;
    padding: 0 65px;
    line-height: 30px
}

.search {
    margin: 2px 0 0;
    line-height: 0;
    vertical-align: top;
    min-width: 25px
}

.search input[type=text] {
    color: #fff;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    line-height: 55px;
    width: 100%;
    height: 51px;
    padding: 0 55px 0 20px;
    background: #fff;
    border: 2px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.search input[type=text]:focus {
    outline: none;
    box-shadow: none
}

.search input[type=text]::-webkit-input-placeholder {
    color: #fff;
    opacity: 1
}

.search input[type=text]:-moz-placeholder {
    color: #fff;
    opacity: 1
}

.search input[type=text]::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.search input[type=text]:-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.search.active input[type=text] {
    color: #34373c;
    background: #fff;
    border-color: #34373c
}

.search.active input[type=text]::-webkit-input-placeholder {
    color: #34373c
}

.search.active input[type=text]:-moz-placeholder {
    color: #34373c
}

.search.active input[type=text]::-moz-placeholder {
    color: #34373c
}

.search.active input[type=text]:-ms-input-placeholder {
    color: #34373c
}

.search button,
.search button:focus,
.search button:active {
    background: 0 0;
    border: none;
    display: inline-block;
    padding: 0;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    color: #111;
    font: 400 19px/19px 'fl-outicons'
}

.search button::-moz-focus-inner,
.search button:focus::-moz-focus-inner,
.search button:active::-moz-focus-inner {
    border: none;
    padding: 0
}

.search button:hover,
.search button:focus:hover,
.search button:active:hover {
    color: #bdbdbd
}

.top-search {
    cursor: pointer;
    display: inline-block;
    line-height: 19px;
    margin-right: 13px;
    color: #111;
    vertical-align: top;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    transition: .3s all ease
}

.top-search i {
    display: inline-block;
    font-size: 19px;
    line-height: 19px;
    vertical-align: top
}

.top-search i:before {
    vertical-align: top
}

.top-search:hover,
.top-search:focus,
.top-search:active,
.top-search.active {
    color: #bdbdbd
}

#search {
    line-height: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    -moz-transition: .7s all ease;
    -o-transition: .7s all ease;
    -webkit-transition: .7s all ease;
    transition: .7s all ease
}

#search .inner {
    overflow: hidden;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    white-space: nowrap;
    line-height: 0
}

.wpb-mobile-menu {
    display: none
}

.slicknav_menu {
    display: none
}

@media screen and (max-width:767px) {
    .js .wpb-mobile-menu {
        display: none
    }

    .slicknav_menu {
        display: block
    }
}

.navbar-toggle {
    display: none
}

.toggle-wrap {
    position: relative
}

.toggle_cont {
    display: none;
    background: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 5px 18px rgba(0, 0, 0, .15);
    box-shadow: 0 5px 18px rgba(0, 0, 0, .15);
    padding: 14px 0;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 200px;
    z-index: 20;
    font-size: 14px;
    line-height: 16px
}

.toggle_cont>li {
    padding: 8px 5px 8px 25px;
    display: inline-block;
    width: 100%
}

.toggle_cont>li>a,
.toggle_cont>li>button {
    text-align: left;
    display: inline-block;
    color: #a5a8ae;
    background: 0 0
}

.toggle_cont>li>a:visited,
.toggle_cont>li>button:visited {
    color: #a5a8ae
}

.toggle_cont>li>a:hover,
.toggle_cont>li>a:active,
.toggle_cont>li>a:focus,
.toggle_cont>li>button:hover,
.toggle_cont>li>button:active,
.toggle_cont>li>button:focus {
    color: #34373c;
    background: 0 0 !important
}

.box-language,
.box-currency {
    display: inline-block;
    margin: 15px 10px
}

.box-language .btn-group,
.box-currency .btn-group {
    vertical-align: top;
    margin: 0
}

.box-language img,
.box-currency img {
    vertical-align: top;
    display: inline-block;
    margin-right: 3px;
    padding-top: 2px
}

.box-language .toggle,
.box-currency .toggle {
    display: block;
    text-align: center;
    cursor: pointer;
    padding: 7px 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    transition: .3s all ease
}

.box-language .toggle span+span,
.box-currency .toggle span+span {
    margin-right: 17px;
    float: left
}

.box-language .toggle span:first-child,
.box-currency .toggle span:first-child {
    position: relative;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    transition: .3s all ease
}

.box-language .toggle:after,
.box-currency .toggle:after {
    display: inline-block;
    content: '\f107';
    font-size: 13px;
    font-weight: 400;
    margin-left: 0;
    font-family: fontawesome;
    vertical-align: top;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    transition: .3s all ease
}

.box-language .toggle.active,
.box-language .toggle:hover,
.box-currency .toggle.active,
.box-currency .toggle:hover {
    color: #34373c
}

.box-language .toggle_cont,
.box-currency .toggle_cont {
    left: auto;
    right: 0;
    top: 45px;
    width: 150px;
    text-align: left;
    z-index: 99
}

.box-language .toggle_cont>li>a,
.box-language .toggle_cont>li>button,
.box-currency .toggle_cont>li>a,
.box-currency .toggle_cont>li>button {
    color: #a5a8ae
}

.box-language .toggle_cont>li>a:visited,
.box-language .toggle_cont>li>button:visited,
.box-currency .toggle_cont>li>a:visited,
.box-currency .toggle_cont>li>button:visited {
    color: #a5a8ae
}

.box-language .toggle_cont>li>a:hover,
.box-language .toggle_cont>li>a:active,
.box-language .toggle_cont>li>a:focus,
.box-language .toggle_cont>li>a.selected,
.box-language .toggle_cont>li>button:hover,
.box-language .toggle_cont>li>button:active,
.box-language .toggle_cont>li>button:focus,
.box-language .toggle_cont>li>button.selected,
.box-currency .toggle_cont>li>a:hover,
.box-currency .toggle_cont>li>a:active,
.box-currency .toggle_cont>li>a:focus,
.box-currency .toggle_cont>li>a.selected,
.box-currency .toggle_cont>li>button:hover,
.box-currency .toggle_cont>li>button:active,
.box-currency .toggle_cont>li>button:focus,
.box-currency .toggle_cont>li>button.selected {
    color: #34373c
}

.box-currency .toggle_cont {
    width: 120px
}

button {
    background: 0 0;
    border: none;
    display: inline-block;
    padding: 0;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    transition: .3s all ease
}

#carousel-area {
    overflow: hidden;
    background: #2c3e50
}

#carousel-area .carousel-inner .item {
    opacity: 0;
    transition-property: opacity
}

#carousel-area .carousel-inner .active {
    opacity: 1
}

#carousel-area .carousel-inner .active.left,
#carousel-area .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1
}

#carousel-area .carousel-inner .next.left,
#carousel-area .carousel-inner .prev.right {
    opacity: 1
}

#carousel-area .carousel-control {
    z-index: 2
}

@media all and (transform-3d),
(-webkit-transform-3d) {

    #carousel-area .carousel-inner>.item.next,
    #carousel-area .carousel-inner>.item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    #carousel-area .carousel-inner>.item.prev,
    #carousel-area .carousel-inner>.item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    #carousel-area .carousel-inner>.item.next.left,
    #carousel-area .carousel-inner>.item.prev.right,
    #carousel-area .carousel-inner>.item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

#carousel-area .item {
    background-size: 100%;
    background-size: cover;
    height: 560px
}

#carousel-area .item .carousel-caption {
    top: 32%;
    margin: 0 auto;
    bottom: 30%;
    border-radius: 2px;
    background: rgba(0, 0, 0, .7);
    text-align: left;
    padding: 30px;
    text-shadow: none
}

#carousel-area .item .carousel-caption h2 {
    font-family: montserrat, sans-serif;
    font-size: 40px;
    margin-bottom: 12px;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: .8s;
    animation-duration: .8s
}

#carousel-area .item .carousel-caption h3 {
    font-family: open sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: .8s;
    animation-duration: .8s
}

#carousel-area .item .carousel-caption .price-sl {
    font-size: 30px;
    color: #4caf50;
    line-height: 36px;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: .8s;
    animation-duration: .8s
}

#carousel-area .active {
    opacity: 1
}

#carousel-area .active.left,
#carousel-area .active.right {
    left: 0;
    opacity: 0;
    z-index: 1
}

#carousel-area .carousel-control {
    z-index: 10;
    width: 35px;
    height: 55px;
    top: 50%;
    padding: 10px 5px;
    box-shadow: none;
    background-image: none;
    margin-top: -35px;
    text-shadow: none
}

#carousel-area .carousel-control i {
    font-size: 40px
}

#carousel-area .carousel-control i:hover {
    color: #4caf50
}

#carousel-area .left.carousel-control {
    left: 5%
}

#carousel-area .right.carousel-control {
    right: 5%
}

#carousel-area .carousel-indicators {
    bottom: 40px
}

#carousel-area .carousel-indicators li {
    border-radius: 0;
    width: 40px;
    height: 8px;
    margin: 0 5px;
    opacity: .5
}

#carousel-area .carousel-indicators li:hover,
#carousel-area .carousel-indicators li.active {
    opacity: 1
}

#carousel-area:hover .carousel-control {
    display: block
}

#carousel-area i {
    margin-right: 5px
}

.section-intro {
    background: url(../img/bg/bg-intro.png) center center no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center
}

.section-intro .overlay {
    background: rgba(0, 0, 0, .5) repeat;
    width: 100%;
    height: 100%
}

.section-intro .main-text {
    margin: 100px 15px 130px;
    text-transform: uppercase
}

.section-intro .main-text .intro-title {
    font-size: 50px;
    font-weight: 300;
    color: #fff;
    white-space: nowrap;
    line-height: 58px
}

.section-intro .main-text .sub-title {
    font-size: 14px;
    color: #fff;
    padding: 15px 0;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 15px
}

#search-row-wrapper {
    background: url(../img/bg/counter-bg.jpg) center center no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center
}

#search-row-wrapper .overlay {
    background: rgba(0, 0, 0, .49);
    width: 100%;
    height: 100%
}

#search-row-wrapper .search-inner {
    padding: 40px 0
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important
}

.search-properties label {
    display: block !important;
    margin-bottom: 30px !important
}

.search-properties p {
    margin-bottom: 15px;
    font-weight: 700
}

.search-bar i {
    font-size: 15px;
    position: absolute;
    top: 0;
    background-color: transparent;
    color: #fff;
    right: 15px;
    padding: 15px
}

.search-bar .form-group {
    margin: 0 0 0 12px
}

.btn-group,
.btn-group-vertical {
    margin: 0
}

.btn-select {
    padding: 12px;
    border-radius: 2px;
    color: #2d2d2d !important;
    background: #fff;
    text-transform: none
}

.btn-group.open>.dropdown-toggle.btn,
.btn-group.open>.dropdown-toggle.btn.btn-default,
.btn-group-vertical.open>.dropdown-toggle.btn,
.btn-group-vertical.open>.dropdown-toggle.btn.btn-default {
    background: #fff
}

.btn-group.open .dropdown-toggle {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .125)
}

.btn-group.open .dropdown-toggle:focus {
    outline: none
}

.dropdown-menu>li>a {
    padding: 12px 20px;
    margin-bottom: 4px
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu li a:active {
    background-color: #4caf50;
    color: #fff;
    border-radius: 2px
}

.btn-group.bootstrap-select.dropdown-product ul.dropdown-menu.inner {
    display: none
}

.btn-group.bootstrap-select.dropdown-product.open ul.dropdown-menu.inner {
    display: block;
    z-index: 9999
}

.open .dropdown-menu {
    margin-top: 0
}

.btn-group .dropdown-menu,
.btn-group-vertical .dropdown-menu {
    border-radius: 2px;
    text-transform: none
}

.input-group-addon {
    border: none;
    background: 0 0
}

.search-category .search-category-container {
    border: none;
    padding: 0;
    position: relative;
    border-radius: 2px;
    border: none !important;
    background: #fff
}

.input-group-addon {
    padding: 0 !important
}

.styled-select select {
    background: 0 0;
    font-size: 14px;
    line-height: 18px;
    border-radius: 2px;
    height: 44px;
    -webkit-appearance: none;
    -webkit-border-radius: 0
}

.search-category select {
    padding: 12px;
    border: none;
    background: 0 0;
    font-size: 14px;
    font-weight: 400;
    color: #2d2d2d
}

select>opation:focus {
    box-shadow: none;
    border: none
}

.form-ad .btn-select {
    color: #2d2d2d;
    box-shadow: none;
    border: 1px solid #eee
}

.property {
    background: #f5f5f5
}

.property-main {
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 2px 0 0 #e3e4e7;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
    cursor: pointer
}

.property-main:hover {
    box-shadow: 0 0 5px 1px rgba(60, 144, 190, .13);
    -webkit-box-shadow: 0 0 5px 1px rgba(60, 144, 190, .13);
    -moz-box-shadow: 0 0 5px 1px rgba(60, 144, 190, .13)
}

.property-wrap {
    background: #fff;
    width: 100%;
    padding: 8px
}

.item-thumb {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease
}

.item-thumb a {
    display: block
}

.item-thumb:hover {
    opacity: .9
}

.label-featured {
    position: absolute;
    color: #fff;
    top: 12px;
    left: 12px;
    z-index: 3;
    background: #4caf50;
    border-radius: 2px;
    padding: 2px 12px
}

.label-inner {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 3
}

.label-inner .label {
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    font-size: 10px;
    padding: 4px 8px;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 15px;
    vertical-align: top
}

.label-inner .label-status {
    background: #2d2d2d
}

.label-inner .label-default {
    background: #d32f2f
}

.price {
    position: absolute;
    left: 12px;
    bottom: 12px;
    z-index: 4;
    color: #fff;
    text-align: left;
    background: rgba(0, 0, 0, .7);
    padding: 6px 10px
}

.price .item-price {
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    margin: 0;
    display: block
}

.price .item-sub-price {
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    margin: 5px 0 0
}

.actions {
    position: absolute;
    right: 12px;
    bottom: 12px;
    z-index: 4
}

.actions li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px !important;
    cursor: pointer;
    font-size: 12px !important
}

.actions li .add-fav {
    color: #fff;
    font-size: 18px;
    background: #4caf50;
    width: 32px;
    line-height: 28px;
    height: 32px;
    display: block;
    text-align: center;
    padding: 4px;
    border-radius: 2px
}

.item-body {
    padding: 15px 12px 7px;
    width: 100%
}

.item-body .label-inner-list .label {
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    font-size: 10px;
    padding: 4px 8px;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 15px;
    vertical-align: top
}

.item-body .label-inner-list .label-status {
    background: #2d2d2d
}

.item-body .label-inner-list .label-default {
    background: #d32f2f
}

.item-body .property-title {
    margin: 0 0 2px
}

.item-body .property-title a {
    font-size: 14px;
    color: #2d2d2d;
    text-transform: uppercase
}

.item-body .property-title a:hover {
    color: #4caf50
}

.item-body .adderess {
    color: #999;
    font-size: 13px;
    line-height: 22px;
    margin: 0
}

.item-body .info {
    font-size: 13px;
    margin-top: 6px;
    line-height: 16px
}

.item-body .info span {
    margin-right: 10px
}

.item-foot {
    background: #fff;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding: 14px 20px;
    margin: -7px 0
}

.item-foot a {
    color: #999
}

.item-foot a:hover {
    color: #4caf50
}

.item-foot p {
    color: #999;
    font-size: 12px;
    line-height: 22px;
    font-weight: 300
}

.item-foot p i {
    margin-right: 5px
}

.table-list .item-thumb {
    width: 270px
}

.table-list .table-cell {
    display: table-cell;
    vertical-align: top;
    overflow: hidden
}

.table-list .item-body {
    padding: 5px 20px
}

.table-list .prop-user-agent,
.table-list .prop-date {
    color: #aaa;
    font-size: 12px;
    margin-right: 10px;
    line-height: 22px;
    font-weight: 300
}

.table-list .prop-user-agent a,
.table-list .prop-date a {
    color: #aaa
}

.table-list .prop-user-agent i,
.table-list .prop-date i {
    margin-right: 5px
}

.table-list .info-row {
    text-align: right;
    margin-right: 8px
}

.table-list .info-row .item-price {
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    text-align: right
}

.table-list .info-row .item-sub-price {
    font-size: 14px;
    line-height: 12px;
    margin: 5px 0 0;
    text-decoration: line-through
}

.table-list .button {
    position: absolute;
    right: 10px;
    bottom: 15px
}

/*.property-highlights {
    background: url(../img/bg/home-back-1.jpg);
    background-position: cover;
    padding: 60px 0;
    color: #fff
}*/

.property-highlights .title-hl {
    font-size: 42px;
    margin-bottom: 26px
}

.property-highlights .content-hl {
    margin-bottom: 10px
}

.property-highlights .btn {
    margin-top: 20px
}

.features-box {
    margin-top: 15px;
    margin-bottom: 15px
}

.features-box .features-icon {
    float: left;
    padding: 2px
}

.features-box .features-icon i {
    color: #4caf50;
    font-size: 30px
}

.features-box .features-content {
    padding-left: 50px
}

.features-box .features-content h4 {
    color: #fff;
    font-size: 15px;
    margin-bottom: 5px;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}

#portfolio {
    display: inline-block;
    margin-top: 60px
}

#contnet {
    padding: 60px 0;
    display: inline-block
}

.controls {
    margin: 25px 0
}

.controls a {
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    margin: 0 5px;
    color: #666;
    text-transform: uppercase;
    border: 1px solid #4caf50;
    padding: 10px 15px;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -ms-transition: all .9s ease;
    -0-transition: all0.9sease;
    transition: all .9s ease
}

.controls a:hover,
.controls .active {
    background: #4caf50;
    color: #fff
}

#portfolio-list .mix {
    display: none
}

#products .mix {
    display: none
}

#portfolio-list .mix {
    padding-left: 0;
    padding-right: 0
}

.portfolio-item {
    overflow: hidden;
    display: block;
    position: relative
}

.portfolio-item img {
    zoom: 1;
    width: 100%;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -ms-transition: all .9s ease;
    -0-transition: all0.9sease;
    transition: all .9s ease
}

.portfolio-item:hover img {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -0-transform: scale(1.4);
    transform: scale(1.4)
}

.portfolio-item .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(43, 44, 48, .8);
    opacity: 0;
    filter: alpha(opacity=0);
    padding: 30px;
    -webkit-transition: all 600ms ease-out 0s;
    -moz-transition: all 600ms ease-out 0s;
    -o-transition: all 600ms ease-out 0s;
    transition: all 600ms ease-out 0s
}

.portfolio-item .icon {
    left: 0;
    right: 0;
    width: 42%;
    top: 40%;
    text-align: center;
    position: absolute;
    opacity: 0;
    margin: 0 auto;
    -webkit-transition: all 600ms ease-out 0s;
    -moz-transition: all 600ms ease-out 0s;
    -o-transition: all 600ms ease-out 0s;
    transition: all 600ms ease-out 0s
}

.portfolio-item .icon i {
    width: 48px;
    height: 48px;
    font-size: 18px;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
    margin-left: 5px;
    border: 1px solid #fff;
    color: #fff;
    line-height: 48px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease
}

.portfolio-item .icon i:hover {
    color: #4caf50;
    border-color: #4caf50
}

.portfolio-item .icon .left {
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    transform: translateY(25px)
}

.portfolio-item .icon .right {
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    transform: translateY(-25px)
}

.portfolio-item .content {
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
    opacity: 1;
    margin: 0 auto;
    padding: 10px 22px;
    text-align: center;
    -webkit-transform: translateY(90px);
    -moz-transform: translateY(90px);
    transform: translateY(90px);
    -webkit-transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
    -ms-transition: all .4s ease-in-out 0s;
    -0-transition: all0.4sease-in-out0s;
    transition: all .4s ease-in-out 0s
}

.portfolio-item .content h3 {
    color: #31302c;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 33px
}

.portfolio-item .content h3 a {
    color: #fff
}

.portfolio-item .content p {
    color: #fff;
    font-size: 16px
}

.portfolio-item:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible
}

.portfolio-item:hover .icon {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible
}

.portfolio-item:hover .left {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px)
}

.portfolio-item:hover .right {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px)
}

.portfolio-item:hover .content {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px)
}

.features .desc {
    margin-bottom: 20px
}

.features .features-box .features-content {
    padding: 0
}

.features .features-box .features-content h4 {
    color: #2d2d2d;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px
}

.features .features-box .features-content h4 i {
    margin-right: 10px;
    color: #4caf50;
    font-size: 26px;
    vertical-align: middle
}

.features .thum-ft {
    margin-top: 54px;
    box-shadow: 8px 8px 0 rgba(52, 152, 219, .7);
    border: 6px solid #4caf50
}

.latest-property {
    padding-top: 60px;
    background: #f5f5f5
}

#latest-property .item {
    margin: 10px
}

#latest-property .property-main {
    margin-bottom: 0
}

#latest-property .owl-controls .owl-buttons {
    position: relative;
    top: -260px;
    left: 0
}

#latest-property .owl-controls .owl-buttons div.owl-prev {
    float: left;
    margin-left: -45px
}

#latest-property .owl-controls .owl-buttons div.owl-next {
    float: right !important;
    margin-right: -45px
}

.owl-theme .owl-buttons div {
    width: 40px;
    height: 40px;
    display: block !important;
    background: #4caf50 !important;
    text-align: center;
    display: inline-block;
    opacity: 1 !important;
    border-radius: 0 !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .18), 0 2px 5px 0 rgba(0, 0, 0, .15);
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}

.owl-theme .owl-buttons div:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    opacity: .8 !important
}

.owl-theme .owl-buttons div i {
    color: #fff;
    font-size: 16px;
    line-height: 32px
}

.agent-member {
    text-align: center;
    margin: 30px 0
}

.agent-member .agent-thumbnail {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .3s ease-in-out
}

.agent-member .agent-thumbnail .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    opacity: 0;
    border: 2px solid #2d2d2d;
    border-bottom: none;
    background: rgba(255, 255, 255, .45);
    bottom: -1px;
    height: 100%;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .3s ease-in-out
}

.agent-member .agent-thumbnail .social-media {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    bottom: 0;
    -webkit-transform: translateY(100%);
    -moz-webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .3s ease-in-out
}

.agent-member .agent-thumbnail .social-media a {
    display: inline-block
}

.agent-member .agent-thumbnail .social-media a i {
    font-size: 20px;
    color: #2d2d2d;
    background: #fff;
    width: 40px;
    line-height: 40px;
    height: 40px;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    transition: all .9s ease
}

.agent-member .agent-thumbnail .social-media a.facebook:hover i {
    background: #507cbe;
    color: #fff
}

.agent-member .agent-thumbnail .social-media a.twitter:hover i {
    background: #63cdf1;
    color: #fff
}

.agent-member .agent-thumbnail .social-media a.google:hover i {
    background: #f16261;
    color: #fff
}

.agent-member .agent-thumbnail .social-media a.linkedin:hover i {
    background: #90cadd;
    color: #fff
}

.agent-member .info {
    background: #2d2d2d;
    padding: 15px
}

.agent-member .info h4 {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px
}

.agent-member .info p {
    color: #fff;
    font-size: 12px;
    margin-bottom: 5px
}

.agent-member .info .profile-link {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase
}

.agent-member .info .profile-link i {
    vertical-align: middle;
    margin-right: 5px
}

.agent-member .info .profile-link:hover {
    color: #4caf50
}

.agent-member:hover .agent-thumbnail {
    background: #f1f1f1
}

.agent-member:hover .social-media {
    -webkit-transform: translateY(-45%);
    -moz-webkit-transform: translateY(-45%);
    transform: translateY(-45%)
}

.agent-member:hover .overlay {
    opacity: 1
}

.agent-listing {
    border: 1px solid #eee;
    padding: 15px 0;
    margin-bottom: 30px;
    display: inline-block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -0-transition: all0.3sease;
    transition: all .3s ease
}

.agent-listing:hover {
    box-shadow: 0 0 5px 1px rgba(60, 144, 190, .13)
}

.profile-description .agent-title {
    font-size: 16px;
    line-height: 20px;
    color: #2d2d2d
}

.profile-description .position {
    margin-bottom: 5px;
    color: #999
}

.profile-description p {
    font-size: 13px
}

.profile-description .profile-contact {
    margin: 15px 0
}

.profile-description .profile-contact li {
    font-size: 14px
}

.profile-description .profile-contact li span {
    font-weight: 700;
    margin-right: 5px
}

.profile-description .profile-social li {
    display: inline-block;
    margin-right: 16px
}

.profile-description .profile-social li a {
    font-size: 30px;
    display: inline-block;
    color: #999
}

#blog {
    background: #f5f5f5
}

#blog .blog-item-wrapper {
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    border-radius: 2px;
    border-bottom: 5px solid transparent;
    box-shadow: 0 2px 0 0 #e3e4e7
}

#blog .blog-item-img {
    position: relative;
    margin: -15px -15px 15px
}

#blog .blog-item-img img {
    width: 100%
}

#blog .blog-item-img .blog-date {
    color: #fff;
    background: #2d2d2d;
    padding: 5px 12px;
    position: absolute;
    bottom: 44px;
    font-size: 18px;
    text-align: center;
    left: 0
}

#blog .blog-item-img .blog-date:hover {
    opacity: .7
}

#blog .blog-item-img .blog-date i {
    padding-right: 7px
}

#blog .blog-item-img .blog-item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #4caf50;
    width: 100%;
    padding: 10px 15px
}

#blog .blog-item-img .blog-item-info a {
    padding-right: 20px;
    font-size: 14px;
    color: #fff;
    font-family: open sans, sans-serif
}

#blog .blog-item-img .blog-item-info a i {
    margin-right: 5px
}

#blog .blog-item-img .blog-item-info a:hover {
    color: #fff
}

#blog .blog-item-text h3 {
    line-height: 30px;
    font-size: 16px
}

#blog .blog-item-text p {
    line-height: 25px;
    margin-bottom: 20px
}

.location {
    margin-top: 50px
}

.localtion-list {
    border: 1px solid #eee;
    padding: 15px;
    box-shadow: 1px 1px 3px 0 #f1f1f1
}

.localtion-list .cat-list {
    margin: 0;
    padding: 0
}

.localtion-list .cat-list li {
    line-height: 24px
}

.localtion-list .cat-list li a {
    font-size: 13px;
    color: #888
}

.localtion-list .cat-list li a:hover {
    color: #4caf50;
    margin-left: 5px
}

#counter {
    background: url(../img/bg/counter-bg.jpg) center center no-repeat;
    background-size: cover;
    color: #fff;
    padding: 80px 0;
    text-align: center
}

.counting .icon {
    margin-bottom: 10px;
    display: inline-block
}

.counting .icon i {
    font-size: 42px;
    margin-right: 20px;
    color: #4caf50
}

.counting .desc h3 {
    font-size: 42px;
    font-family: open sans, sans-serif;
    display: inline-block;
    color: #fff
}

.counting .desc p {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px
}

.counting:hover span {
    background: #4caf50;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1)
}

.clients .items {
    text-align: center
}

footer {
    background-color: #333;
    padding: 60px 0
}

footer p {
    color: #ccc
}

footer a {
    color: #666
}

.footer-widget h4 {
    color: #eee;
    text-transform: uppercase;
    padding-bottom: 8px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    letter-spacing: 1px
}

.footer-nav ul {
    text-align: left
}

.footer-nav ul li {
    display: block;
    margin: 10px 0
}

.footer-nav ul li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

.footer-nav ul li a:hover {
    color: #4caf50
}

.footer-nav ul li a i {
    margin-right: 5px;
    color: #4caf50;
    font-size: 14px
}

.address li {
    display: block;
    margin-bottom: 16px
}

.address li a {
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}

.address li a i {
    padding-right: 5px
}

.flicker-gallery {
    margin-right: -5px;
    margin-left: -5px
}

.flicker-gallery a {
    display: inline-block;
    width: 32%;
    font-size: 0;
    padding: 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -0-transition: all0.3sease;
    transition: all .3s ease
}

.flicker-gallery a:hover {
    opacity: .7
}

.flicker-gallery a img {
    width: 100%;
    border-radius: 2px
}

#copyright {
    background-color: #393939;
    padding: 20px 0 10px;
    color: #fff
}

#copyright p {
    line-height: 34px
}

#copyright p a {
    color: #fff
}

#copyright p a:hover {
    color: #4caf50
}

.bottom-social-icons a {
    color: #fff;
    text-align: center;
    width: 32px;
    line-height: 32px;
    border-radius: 0;
    background: #444;
    display: inline-block;
    height: 32px;
    position: relative;
    overflow: hidden
}

.social-icon .facebook:hover {
    background-color: #3b5998
}

.social-icon .twitter:hover {
    background-color: #55acee
}

.social-icon .dribble:hover {
    background-color: #d34836
}

.social-icon .flickr:hover {
    background-color: #ff0084
}

.social-icon .youtube:hover {
    background-color: #cc181e
}

.social-icon .google-plus:hover {
    background-color: #dd4b39
}

.social-icon .linkedin:hover {
    background-color: #007bb5
}

.widget-title {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee
}

.widget-title:before {
    content: "";
    position: absolute;
    border-bottom: 3px solid #4caf50;
    width: 50px;
    bottom: -1px;
    left: 0
}

.widget-title i {
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
    color: #4caf50
}

.widget-title h4 {
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase
}

.inner-box {
    margin-bottom: 30px
}

.categories-list ul {
    margin: 0
}

.categories-list ul li a {
    padding: 10px;
    margin-bottom: 5px;
    display: block;
    font-size: 13px;
    color: #444;
    border-bottom: 1px solid #eee
}

.categories-list ul li a:hover {
    color: #4caf50
}

.categories-list ul li a i {
    margin-right: 5px
}

.categories-list ul li:last-child a {
    border: none
}

.advimg .featured-list li {
    width: 62px;
    height: 62px;
    margin-right: 0
}

.product-filter {
    height: 40px;
    margin-bottom: 20px
}

.product-filter .grid-list-count {
    float: right
}

.product-filter .grid-list-count a {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 8px;
    border: 1px solid #ddd;
    font-size: 22px;
    color: #999;
    border-radius: 4px
}

.product-filter .grid-list-count .active {
    color: #4caf50
}

.product-filter .title-listing {
    margin: 0;
    display: inline-block
}

.product-filter .title-listing h2 {
    font-size: 20px;
    line-height: 40px
}

.product-filter .Show-item {
    float: right
}

.product-filter .Show-item span {
    color: ##2d2d2d;
    display: inline-block;
    line-height: 40px;
    margin-right: 10px
}

.product-filter .Show-item .woocommerce-ordering {
    float: right;
    margin-right: 15px
}

.product-filter .Show-item .woocommerce-ordering .dropdown-menu>li>a {
    padding: 0 15px
}

.product-filter .Show-item .woocommerce-ordering .btn-select {
    padding: 0 12px
}

.product-filter select {
    font-size: 14px;
    font-weight: 400;
    color: #2d2d2d;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 4px;
    margin-right: 10px
}

.property-head {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%
}

.property-head .title-property {
    font-size: 30px;
    font-weight: 400
}

.property-head p {
    color: #999
}

.property-head .price-detail {
    font-size: 30px;
    line-height: 50px;
    color: #4caf50
}

.property-head .web-refernce strong {
    font-size: 22px;
    color: #4caf50
}

.property-head .icon {
    text-align: center
}

.property-head .icon a {
    margin-right: 20px;
    display: inline-block
}

.property-head .icon a i {
    width: 42px;
    height: 36px;
    font-size: 22px;
    display: block;
    line-height: 36px
}

.details-wrapper {
    margin-bottom: 30px
}

.details-wrapper img {
    width: 100%
}

.inner-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px
}

.property-meta {
    background: #f6f6f6;
    display: inline-block;
    width: 100%;
    padding: 0 15px
}

.property-meta .meta-list {
    padding: 15px 0
}

.property-meta .meta-list span {
    padding: 15px 21px 15px 10px;
    border-right: 1px solid #e4e4e4
}

.property-meta .meta-list span i {
    margin-right: 5px
}

.property-meta .date {
    line-height: 50px
}

.property-dsc p {
    margin-bottom: 10px
}

.additional-details li strong {
    margin-right: 10px;
    font-weight: 700
}

.additional-details li span {
    color: #999
}

.amenities {
    display: inline-block
}

.amenities ul li {
    float: left;
    width: 25%;
    margin: 0 30px 15px 0;
    list-style: none
}

.adds-wrapper {
    background: #fff none repeat scroll 0% 0%;
    clear: both;
    display: block;
    height: auto;
    overflow: auto;
    width: 100%
}

.adds-wrapper .item-list {
    padding: 10px;
    border: 1px solid #eee;
    width: 99%;
    height: auto;
    display: block;
    position: relative;
    overflow: hidden;
    clear: both;
    margin-bottom: 15px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -0-transition: all0.3sease;
    transition: all .3s ease
}

.adds-wrapper .item-list:hover {
    box-shadow: 0 0 5px 1px rgba(60, 144, 190, .13)
}

.adds-wrapper .add-title {
    padding-bottom: 10px
}

.adds-wrapper .info {
    display: block;
    clear: both;
    font-size: 12px;
    color: #999
}

.adds-wrapper .add-type {
    color: #4caf50;
    background: #eee;
    border: 1px solid #ddd;
    display: inline-block;
    height: 25px;
    line-height: 18px;
    padding: 3px;
    text-align: center;
    width: 25px
}

.adds-wrapper .price-box {
    padding: 0
}

.adds-wrapper .price-box .item-price {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    padding-bottom: 15px
}

.contact-info .agent-media {
    float: left;
    margin-bottom: 40px
}

.contact-info .agent-media .img-left {
    float: left;
    margin-right: 20px;
    padding: 4px;
    box-shadow: 0 0 4px #ddd;
    width: 110px;
    height: 110px
}

.contact-info .agent-media .media-body {
    margin-left: 30px
}

.contact-info .agent-media .media-body h4 {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 4px;
    text-transform: uppercase
}

.contact-info .agent-media .media-body p {
    line-height: 30px
}

.contact-info .agent-media .media-body p i {
    margin-right: 5px
}

.contact-info .agent-media .media-body .social-agent li {
    float: left;
    margin-right: 10px
}

.contact-info .agent-media .media-body .social-agent li a {
    font-size: 14px
}

.contact-info .detail-title-inner {
    padding-bottom: 18px;
    margin-bottom: 25px;
    margin-top: 40px;
    border-bottom: 1px solid #e5e5e5
}

.contact-info .detail-title-inner .title-inner {
    font-size: 16px;
    line-height: 16px
}

.tab-title {
    margin-bottom: 20px;
    font-size: 22px
}

.nav-tabs {
    border-bottom: none
}

.nav-tabs>li>a {
    color: #2d2d2d;
    margin-right: 5px;
    border: 1px solid #4caf50;
    padding: 10px 20px;
    border-radius: 2px
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li>a:hover,
.nav-tabs>li.active>a:hover {
    background: #4caf50;
    border-radius: 2px;
    border: 1px solid #4caf50;
    outline: none;
    color: #fff
}

.tab-content {
    border: 1px solid transparent;
    border-top: none;
    padding: 12px 0
}

.tab-content p {
    margin-bottom: 15px
}

.tab-content p:last-child {
    margin-bottom: 0
}

.tabs-2 .nav-tabs>li>a:hover {
    color: #fff;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease
}

.tabs-2 .nav-tabs>li.active>a,
.tabs-2 .nav-tabs>li.active>a:focus,
.tabs-2 .nav-tabs>li.active>a:hover {
    color: #fff
}

.tabs-2 .tab-content {
    border: 1px solid #e5e5e5;
    border-top: none;
    padding: 12px 16px
}

.pagination-bar {
    padding-bottom: 35px;
    margin-top: 35px
}

.pagination {
    margin: 0
}

.pagination>li>a,
.pagination .pagination>li>span {
    border: 1px solid #eee;
    font-size: 15px;
    color: #2d2d2d;
    border-radius: 2px !important;
    min-width: 48px;
    height: 48px;
    text-align: center;
    line-height: 36px;
    margin-right: 10px
}

.pagination .active>a,
.pagination .active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #4caf50 !important;
    border: none
}

.pagination>li:first-child>a,
.pagination .pagination>li:first-child>span {
    border-radius: 2px
}

.pagination>li:last-child>a,
.pagination .pagination>li:last-child>span {
    border-radius: 2px
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    background: #4caf50;
    border-color: #4caf50;
    color: #fff
}

.about h5 {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 5px
}

.about h2 {
    font-size: 30px;
    margin-bottom: 30px
}

.about p {
    margin-bottom: 20px;
    line-height: 28px
}

.about .group-btn {
    margin-top: 30px
}

.item-list.make-grid {
    float: left;
    clear: none;
    width: 48%;
    padding: 10px;
    margin-right: 16px
}

.item-list.make-grid .table-list .item-thumb {
    width: 100%
}

.item-list.make-grid .table-list .item-body {
    padding: 15px 0
}

.item-list.make-grid .button {
    right: 5px;
    bottom: 7px
}

.item-list.make-grid .button .btn-common {
    padding: 10px 20px
}

.make-grid .table-list .table-cell {
    display: table
}

.item-list.make-grid .photobox,
.item-list.make-grid .add-desc-box,
.item-list.make-grid .price-box {
    width: 100%;
    clear: both
}

.item-list.make-grid .add-desc-box {
    padding: 10px 0
}

.item-list.make-grid .price-box {
    text-align: left;
    padding-left: 0;
    padding-right: 0
}

.ads-details-wrapper h2 {
    font-size: 24px;
    line-height: 30px
}

.ads-details-wrapper .item-intro {
    margin-bottom: 15px
}

.ads-details-wrapper .item-intro .poster {
    color: #999;
    font-size: 12px
}

.ads-details-info h4 {
    font-size: 15px;
    padding: 10px 0
}

.sidebar-inner .title-sidebar {
    border-bottom: 1px;
    padding-bottom: 30px
}

.sidebar-inner .btn-sh {
    width: 100%
}

.widget-area-sidebar .widget-container {
    margin-bottom: 30px
}

.widget-area-sidebar .btn-group {
    margin-bottom: 10px
}

.widget-area-sidebar .posts-list li {
    margin-bottom: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

.widget-area-sidebar .posts-list li:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2)
}

.widget-area-sidebar .posts-list .widget-thumb {
    float: left
}

.widget-area-sidebar .posts-list .widget-thumb img {
    opacity: 1;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

.widget-area-sidebar .posts-list .widget-thumb:hover img {
    opacity: .7
}

.widget-area-sidebar .posts-list .widget-content {
    margin-left: 95px;
    padding: 5px 0
}

.widget-area-sidebar .posts-list .widget-content a {
    font-size: 14px;
    font-family: open sans, sans-serif;
    font-weight: 700;
    color: #2d2d2d
}

.widget-area-sidebar .posts-list .widget-content span {
    color: #999;
    font-size: 12px;
    display: block;
    margin: 3px 0;
    line-height: 18px
}

.widget-area-sidebar .posts-list .widget-content span i {
    margin-right: 5px
}
/*
.back-to-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px
}

.back-to-top i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 15px;
    border-radius: 2px;
    text-align: center;
    background-color: #4caf50;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
*/
.usearadmin img {
    border: 3px solid transparent;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, .075);
    margin-right: 10px
}

.usearadmin h3 {
    font-size: 16px;
    text-transform: uppercase
}

.welcome-msg {
    margin-bottom: 15px
}

.welcome-msg .page-sub-header2 {
    font-size: 18px
}

.panel {
    box-shadow: none
}

.panel-group .panel {
    margin-bottom: 15px
}

.input-group .input-group-btn {
    padding: 0 12px
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: transparent none repeat scroll 0 0;
    cursor: inherit;
    display: block
}

.input-group .file-caption {
    height: 54px
}

.mb15 {
    margin-bottom: 15px
}

.panel-default {
    border-radius: 0;
    border: none
}

.panel-default .panel-heading {
    padding: 0;
    outline: none;
    border: none;
    border-radius: 0;
    width: 100%
}

.panel-default .panel-heading .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}

.panel-default .panel-heading a {
    padding: 12px 35px 12px 15px;
    display: inline-block;
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    position: relative;
    text-decoration: none
}

.panel-default .panel-heading a i {
    padding-right: 10px;
    font-size: 20px
}

.panel-default .panel-heading a:after {
    font-family: simple-line-icons;
    content: "\e615";
    position: absolute;
    right: 15px;
    font-size: 14px;
    font-weight: 300;
    top: 50%;
    line-height: 1;
    margin-top: -7px
}

.panel-default .panel-heading .collapsed:after {
    content: "\e095"
}

.panel-default .panel-collapse .panel-body {
    background-color: #fafafa
}

.typography-wrap p {
    font-size: 14px;
    list-style: 24px;
    margin: 0 0 20px
}

.typography-wrap h1 {
    font-size: :30px;
    list-style: 38px;
    margin: 0 0 20px
}

.typography-wrap h2 {
    font-size: :24px;
    list-style: 32px;
    margin: 0 0 10px
}

.typography-wrap h3 {
    font-size: 20px;
    line-height: 28px
}

.typography-wrap h4 {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 24px
}

.typography-wrap h5 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px
}

.typography-wrap h6 {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 24px
}

.typography-wrap .disc-list li,
.typography-wrap .small-arrow-list li {
    line-height: 27px;
    color: #999
}

.typography-wrap .disc-list li i,
.typography-wrap .small-arrow-list li i {
    margin-right: 10px
}

.typography-wrap .buttons a {
    margin-right: 10px
}

.columns-wrapper .row {
    padding: 20px 0
}

.columns-wrapper h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: open sans, sans-serif
}

.columns-wrapper p {
    line-height: 27px;
    color: #999
}

.testimonial .item {
    margin-right: 20px !important
}

.testimonial .owl-pagination {
    text-align: center;
    width: 100%;
    padding-top: 20px
}

.testimonial-item {
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 1px solid #eee;
    padding: 30px
}

.testimonial-item .img {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 10px auto
}

.testimonial-item .img img {
    border-radius: 50%
}

.testimonial-item .datils {
    text-align: center
}

.testimonial-item .datils p {
    font-style: italic
}

.testimonial-item .datils h5 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 12px
}

.testimonial-item .testimonial-bottom {
    margin-top: 20px
}

.testimonial-item .testimonial-bottom span {
    color: #999;
    font-size: 16px
}

.social-link a {
    display: inline-block;
    margin-right: 5px
}

.social-link a i {
    text-align: center;
    color: #aaa;
    font-size: 18px;
    border: 1px solid #e1e1e1;
    border-radius: 0;
    height: 38px;
    line-height: 36px;
    width: 38px;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}

.social-link a i:hover {
    color: #fff
}

.social-link .twitter:hover i {
    background: #00baff
}

.social-link .facebook:hover i {
    background: #5192cc
}

.social-link .google:hover i {
    background: #ed523d
}

.social-link .linkedin:hover i {
    background: #1985bc
}

.social-link .youtube:hover i {
    background: #d42424
}

.post-title {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px
}

.blog-post {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px dotted #eee
}

.blog-post .post-content {
    float: none;
    width: 100%;
    clear: both;
    padding: 25px 0
}

.blog-post .post-content .meta {
    font-size: 13px;
    margin-bottom: 17px;
    padding-bottom: 11px;
    border-bottom: 1px dotted #eee
}

.blog-post .post-content .meta .meta-part {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 25px
}

.blog-post .post-content .meta .meta-part a {
    color: #999
}

.blog-post .post-content .meta .meta-part a i {
    margin-right: 5px
}

.blog-post .share {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 15px
}

.blog-post .share span {
    margin-right: 10px;
    font-size: 16px
}

.quote-post .feature-inner {
    padding: 30px;
    border-radius: 4px;
    border-left: 3px solid #333 !important;
    margin-bottom: 25px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease
}

.quote-post .feature-inner p {
    color: #fff;
    font-size: 26px;
    line-height: 38px
}

.quote-post .feature-inner .name {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    font-style: italic
}

.quote-post .feature-inner:hover {
    background: #444
}

.blog-post .post-format {
    position: absolute;
    left: 50%;
    z-index: 999
}

.blog-post .post-format span a {
    background: #fff;
    border-radius: 4px;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-top: -20px;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    z-index: 1
}

.blog-post .post-format span a i {
    display: block;
    line-height: 40px;
    font-size: 18px;
    position: relative;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.blog-post .post-type i {
    font-size: 1.2em;
    color: #fff
}

.widget-title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase
}

#sidebar {
    margin-bottom: 30px
}

#sidebar .widget {
    border: 1px solid #eee;
    margin-bottom: 22px;
    padding: 15px;
    display: inline-block;
    width: 100%
}

#sidebar .property-agent .agent-info .agent-name {
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0
}

#sidebar .property-agent .agent-info .contacts-list {
    margin-bottom: 15px
}

#sidebar .property-agent .agent-info .contacts-list li {
    padding: 5px 0;
    border-bottom: 1px solid #eee
}

#sidebar .property-agent .agent-info .contacts-list li i {
    margin-right: 5px
}

#sidebar .property-agent .agent-info p .btn-common {
    margin-top: 15px
}

#sidebar .cat-list li {
    border-bottom: 1px dotted #eee;
    padding: 7px 0
}

#sidebar .cat-list li a {
    text-decoration: none;
    margin-right: 10px;
    color: #666;
    display: inline-block;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

#sidebar .cat-list li a:hover {
    color: #aaa
}

#sidebar .cat-list li .num-posts {
    color: #aaa;
    float: right;
    font-size: 12px
}

#sidebar .cat-list li:last-child {
    border: none
}

#sidebar .posts-list li {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee
}

#sidebar .posts-list li:last-child {
    margin: 0;
    padding: 0;
    border: none
}

#sidebar .posts-list .widget-thumb {
    float: left
}

#sidebar .posts-list .widget-thumb img {
    opacity: 1;
    max-width: 90px;
    margin: 5px 10px 0 0;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

#sidebar .posts-list .widget-thumb:hover img {
    opacity: .7
}

#sidebar .posts-list .widget-content a {
    font-weight: 700;
    font-size: 12px;
    color: #2d2d2d
}

#sidebar .posts-list .widget-content span {
    color: #999;
    font-size: 12px;
    display: block;
    margin: 3px 0
}

#sidebar .tag a {
    display: inline-block;
    color: #666;
    font-size: 12px;
    padding: 7px 14px;
    background: #eee;
    margin: 4px 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}

#sidebar .tag a i {
    padding-right: 5px
}

#sidebar .tag a:hover {
    color: #fff
}

.widget-featured .widget-img {
    position: relative
}

.widget-featured .widget-img .text {
    position: absolute;
    bottom: 10px;
    background: rgba(14, 13, 13, .7);
    text-align: center;
    width: 90%;
    padding: 15px;
    margin: 13px
}

.widget-featured .widget-img .text p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 7px
}

.widget-featured .widget-img .text span {
    font-size: 20px;
    font-weight: 700;
    color: #4caf50
}

.widget-search input[type=search] {
    position: relative;
    margin: 0;
    float: left;
    padding: 10px;
    height: 37px;
    line-height: 37px;
    width: 85%;
    border-right: none
}

.widget-search .search-btn {
    display: inline-block;
    width: 38px;
    position: absolute;
    height: 37px;
    border: none;
    color: #fff;
    background: #2d2d2d;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

blockquote {
    padding: 35px 0;
    position: relative;
    margin: 35px 0;
    background: #f5f5f5
}

blockquote .quote-text {
    color: #2d2d2d;
    font-size: 18px;
    line-height: 32px;
    display: block;
    font-style: italic;
    font-weight: 400;
    padding-left: 45px
}

blockquote p {
    margin-left: 44px
}

.thumb-overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
    top: 0;
    left: 0;
    z-index: 998;
    bottom: -1px;
    right: 0;
    opacity: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.thumb-overlay i {
    position: absolute;
    top: 46%;
    left: 0;
    right: 0;
    cursor: pointer;
    visibility: visible;
    width: 48px;
    height: 48px;
    color: #fff;
    font-size: 28px;
    line-height: 48px;
    margin: -20px auto;
    opacity: 0;
    z-index: 99;
    -webkit-transform: scale(.2);
    -moz-transform: scale(.2);
    -ms-transform: scale(.2);
    -o-transform: scale(.2);
    transform: scale(.2);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.thumb-overlay:hover {
    opacity: 1;
    visibility: visible
}

.thumb-overlay:hover i {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -0-transform: scale(1);
    transform: scale(1)
}

.post-tags-list {
    padding-top: 6px
}

.post-tags-list a {
    display: inline-block;
    color: #666;
    font-size: 12px;
    padding: 2px 8px;
    background: #eee;
    margin-bottom: 4px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

.post-tags-list a:hover {
    color: #fff
}

.author {
    margin-bottom: 30px
}

.author .author-img {
    float: left;
    margin-right: 30px;
    display: inline-block
}

.author-title h3 {
    font-size: 18px
}

#comments h3 {
    font-size: 20px;
    font-weight: 400
}

#comments .comments-list {
    padding: 0;
    margin: 0 0 35px
}

#comments .comments-list .media {
    padding: 30px 0;
    border-bottom: 1px solid #ddd
}

#comments .comments-list .media .thumb-left {
    float: left
}

#comments .comments-list .media .thumb-left img {
    border-radius: 2px
}

#comments .comments-list .media .info-body {
    margin-left: 90px
}

#comments .comments-list .media .info-body .name {
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    margin-right: 10px
}

#comments .comments-list .media .info-body .comment-date {
    font-weight: 400;
    color: #999;
    font-size: 13px
}

#comments .comments-list .media .info-body .comment-date a {
    margin-left: 5px
}

#comments .comments-list li ul {
    padding-left: 85px
}

.respond-title {
    font-size: 20px;
    font-weight: 400;
    padding: 0 0 30px
}

.contact-datails {
    margin-bottom: 12px;
    min-height: 75px;
    position: relative
}

.contact-datails .icon {
    position: absolute
}

.contact-datails .icon i {
    font-size: 18px
}

.contact-datails .info {
    padding-left: 30px
}

.contact-datails .info h3 {
    font-size: 15px;
    display: block;
    text-transform: uppercase
}

.contact-datails .info .datail {
    display: block;
    color: #888
}

.form-control {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 0;
    color: #2d2d2d;
    display: block;
    height: 52px;
    box-shadow: none;
    padding: 16px 20px 15px;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
}

.input-icon input {
    padding-left: 40px
}

.input-icon {
    position: relative
}

.login-form .input-icon i {
    color: #444;
    padding-right: 10px
}

.input-icon i {
    font-size: 15px;
    left: 12px;
    line-height: 22px;
    margin-top: -11px;
    position: absolute;
    top: 50%
}

.form-control:focus,
textarea:focus {
    box-shadow: none;
    border: 1px solid #4caf50;
    outline: none
}

.has-error .form-control:focus {
    box-shadow: none
}

.addon {
    font-size: 20px;
    color: #888;
    border-radius: 0;
    width: 32px !important
}

.box {
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, .075)
}

.page-login-form h3 {
    font-size: 18px;
    color: #444;
    line-height: 18px;
    padding: 15px 0 30px;
    text-transform: uppercase;
    text-align: center
}

.page-login-form .login-form .form-control {
    background: #f5f5f5 !important
}

.page-login-form .log-btn {
    width: 100%;
    padding: 12px 22px;
    margin: 0 0 20px;
    letter-spacing: 1;
    text-transform: capitalize;
    font-size: 16px
}

.page-login-form .form-links {
    width: 100%;
    height: 25px
}

.page-login-form .form-links li a {
    color: #999
}

.page-login-form .form-links li a:hover {
    color: #4caf50
}

.login-form input[type=checkbox],
.login-form input[type=radio] {
    margin: 6px 10px 0
}

.box .checkbox label,
.box .radio label {
    padding-left: 34px
}

.support {
    padding-top: 60px
}

.support-inner h4 {
    font-size: 20px;
    font-weight: 400
}

.support-inner .support-info {
    position: relative;
    box-shadow: 1px 1px 3px 1px #e3e4e7;
    padding: 20px 80px;
    margin-top: 20px
}

.support-inner .support-info .info-title {
    color: #333;
    font-size: 15px;
    font-weight: 700
}

.support-inner .support-info .info-title i {
    color: #4caf50;
    font-size: 30px;
    left: 25px;
    position: absolute;
    top: 20px;
    width: 48px;
    height: 48px;
    display: block;
    text-align: center;
    line-height: 48px
}

.support-inner .support-info .info-title span {
    display: block;
    font-size: 13px;
    text-transform: capitalize;
    color: #aaa;
    font-weight: 400
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    opacity: 1
}

.contact p.subtitle{
    letter-spacing: 5px;

}
form#inquiry label {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 12.5px;
}
.contact form#inquiry{
    background-color: #ffffff;
   
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    z-index: 9;
    position: relative;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
}
.faq{
    padding: 40px;
}

.faq a.faq-item{
    font-size: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 40px; 
    color: #004a99;
}


.explore-btn{
    color: #222;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.explore-btn span:before {
    font-size: 14px;
    margin-left: 10px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.single-feature {
    padding: 40px;
    background: #f9f9f9;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}